<section class="enquire-holiday sec_padd" style="background-image: url(../../../assets/images/aboutpage/enquire-holiday-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title text-center text-white">
                    <h2 class="text-uppercase"><strong>ENQUIRE TODAY & CHECK LATEST OFFERS NEAR YOU.
                    </strong></h2>
                    <div class="title_shape_bottom"><img src="../../../assets/images/favicon-white.ico" width="20" height="auto" alt="Icon" /></div>
                </div>
                <p class="description mb-5 text-center text-white">{{myData?.data.section1_content}}</p>
                <div class="btn-wrapper text-center">
                    <button mat-raised-button class="l-height-normal black-bg" routerLink="/contact-us">Contact Us Now</button>
                </div> 
            </div>
        </div>
    </div>
</section>