<main id="sitemap" class="page-middle">
  <app-innerpagesbanner [innerBannerImage]="bannerImage"></app-innerpagesbanner>
  <section class="sec_padd">
      <div class="container">
          <div class="row">
            <div class="col-12">
                <div class="sec-title text-center">
                    <h1 class="text-uppercase h2"><strong>{{title}}</strong></h1>
                    <div class="title_shape_bottom"><img src="../../../assets/images/favicon.ico" width="20" height="20" alt="Icon" /></div>
                </div>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> URL Location </th>
        <td mat-cell *matCellDef="let element"> {{element.url}} </td>
      </ng-container>

     
      <!-- Name Column -->
      <ng-container matColumnDef="modified">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last modification date </th>
        <td mat-cell *matCellDef="let element"> {{element.modified}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Change frequency </th>
        <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
        <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    





  </div></div></div></section></main>