<div class="popup-wrapper">
    <form>
        <h5 mat-dialog-title class="d-flex justify-content-between align-items-center">
            <span class="titleText">12 Results</span>
            <button mat-icon-button [mat-dialog-close]="true">
                <span class="material-icons"> close </span>
            </button>
        </h5>

        <mat-dialog-content>
            <mat-form-field appearance="fill" color="primary" class="w-100">
                <mat-label>Sort By</mat-label>
                <mat-select class="location-select">
                    <mat-option *ngFor="let Sorting of Sortings" [value]="Sorting.value">
                        {{Sorting.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- This below star rating is not usable as per client requested. -->
            <!-- <mat-accordion multi class="guest_rating">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Guest Rating
                        </mat-panel-title>
                    </mat-expansion-panel-header>    
                    <div class="rating_filter_star">
                        <mat-checkbox color="primary">
                            Any
                        </mat-checkbox>
                    </div>           
                    <div class="rating_filter_star">
                        <mat-checkbox color="primary">
                            <i class="fas fa-star" style="color: #ffbe00;"></i>
                            <i class="fas fa-star" style="color: #ffbe00;"></i>
                            <i class="fas fa-star" style="color: #ffbe00;"></i>
                            <i class="fas fa-star" style="color: #ffbe00;"></i>
                            <i class="fas fa-star" style="color: #9e9e9e;"></i>
                        </mat-checkbox>
                    </div>  
                    <div class="rating_filter_star">
                        <mat-checkbox color="primary">
                            <i class="fas fa-star" style="color: #ffbe00;"></i>
                            <i class="fas fa-star" style="color: #ffbe00;"></i>
                            <i class="fas fa-star" style="color: #ffbe00;"></i>
                            <i class="fas fa-star" style="color: #9e9e9e;"></i>
                            <i class="fas fa-star" style="color: #9e9e9e;"></i>
                        </mat-checkbox>
                    </div>  
                    <div class="rating_filter_star">
                        <mat-checkbox color="primary">
                            <i class="fas fa-star" style="color: #ffbe00;"></i>
                            <i class="fas fa-star" style="color: #ffbe00;"></i>
                            <i class="fas fa-star" style="color: #9e9e9e;"></i>
                            <i class="fas fa-star" style="color: #9e9e9e;"></i>
                            <i class="fas fa-star" style="color: #9e9e9e;"></i>
                        </mat-checkbox>
                    </div>              
                </mat-expansion-panel>
            </mat-accordion> -->
            <div class="slider_wrapper py-4">
                <h6>Bedrooms</h6>
                <!-- <mat-slider class="w-100" color="primary" thumbLabel min="1" max="6" step="1" value="1"></mat-slider> -->
                <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
            </div>
            <div class="slider_wrapper py-4">
                <h6>Occupancy</h6>
                <!-- <mat-slider class="w-100" color="primary" thumbLabel min="2" max="17" step="1" value="1"></mat-slider> -->
                <ng5-slider [(value)]="minValue2" [(highValue)]="maxValue2" [options]="options2"></ng5-slider>
            </div>
            <div class="pt-4 px-1">
                <h6 class="mb-2">Location</h6>
                <div class="form-row">
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Applecross, WA (1)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Darwin, NT (2)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Gold Coast, QLD (5)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Hamilton Island, QLD (33)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Oak Beach, QLD (2)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Palm Cove, QLD (3)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Port Douglas, QLD (3)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Queenstown, OTA (1)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Sydney, NSW (1)</mat-checkbox>
                    </section>
                </div>
            </div>
            <div class="pt-4 px-1">
                <h6 class="mb-2">Featured Amenities</h6>
                <div class="form-row">
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Air Conditioning (52)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Dishwasher (51)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Dryers (51)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Grill / BBQ (33)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Internet (45)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Kitchen (53)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Linens (54)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Living Room (54)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Parking (52)</mat-checkbox>
                    </section>
                </div>
            </div>
            <div class="pt-4 px-1">
                <h6 class="mb-2">Type</h6>
                <div class="form-row">
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">Apartment (28)</mat-checkbox>
                    </section>
                    <section class="location_checks_item col-12 col-sm-6 col-lg-4">
                        <mat-checkbox color="primary">House (23)</mat-checkbox>
                    </section>
                </div>
            </div>
        </mat-dialog-content>

        <!-- Below actions are not useable in this popup. -->
        <!-- <mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
        </mat-dialog-actions> -->
    </form>
</div>