<div class="accommodate-listing">
    <div class="accommodate-wrap">
        <div class="img-wrapper">
            <a href="#" style="background-image: url('{{ image }}');"></a>
            <div class="wishlist">
                <button mat-icon-button aria-label="Example icon button with a heart icon" style="color: #fff;">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div> 
        </div>
        <div class="content-wrap text-center">
            <h4 class="title"><a mat-button class="l-height-normal p-0" href="#">{{title}}</a></h4>
            <!-- <div class="rated-wrapper mb-4">
                <i class="fas fa-star" style="color: #f6bf02;"></i>
                <i class="fas fa-star" style="color: #f6bf02;"></i>
                <i class="fas fa-star" style="color: #f6bf02;"></i>
                <i class="fas fa-star" style="color: #f6bf02;"></i>
                <i class="fas fa-star" style="color: #f6bf02;"></i>
                <small>( 16 Reviews )</small>
            </div>
            <ul class="bed-bath-wrapper m-0 p-0 list-style-none nav justify-content-center">
                <li>
                    <img src="../../../assets/images/homepage/bed.png" alt="Beds" />
                    <small> 6 Beds </small>
                </li>
                <li>
                    <img src="../../../assets/images/homepage/bath.png" alt="Baths" />
                    <small> 2 Bath </small>
                </li>
                <li>
                    <img src="../../../assets/images/homepage/guests.png" alt="Guests" />
                    <small> 10 Guests </small>
                </li>
            </ul> -->
        </div>
    </div>
</div>