<main id="terms-conditions" class="page-middle">
      <app-innerpagesbanner [innerBannerImage]="myData?.data.banner_image"></app-innerpagesbanner>
      <section class="sec_padd">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="sec-title text-center">
                          <h1 class="text-uppercase h2"><strong>{{myData?.data.heading}}</strong></h1>
                          <div class="title_shape_bottom"><img src="../../../assets/images/favicon.ico" width="20" height="20" alt="Icon" /></div>
                      </div>
                     <!-------------Content --------------->
                     <hr>
        <div class="row">
          <div class="col-12">
             <div class="content-wrapper" [innerHTML]="myData?.data.content"></div>      
          </div>
        </div>

<!------End of content-->
     </div>
   </div>
 </div>
      </section>
  </main>