.about_description .container {
    max-width: 1180px;
}
.about_description .content-wrapper h3 {
    font-weight: 600;
}
.about_description .top-part {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.about_description .btm-part .bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 95%;
    margin-bottom: 25px;
}

@media (min-width: 1200px) {
    .about_description .content-wrapper h3 {
        font-size: 26px;
    }
}

@media (max-width: 1199.98px) {
    .about_description .btm-part .bg-img {
        padding-bottom: 75%;
    }
}

.img{
    width: 100%;
}

.center {
    text-align: center;
}

.card_body {
    flex: 1 1 auto;
    min-height: 1px;
  
}


.flex-container {
    display: flex;
    flex-wrap: nowrap;
   float: right;
  }
/* .border{
    border-right: 2px solid grey;
} */
 
