<!----------------------------Bootstrap List-Split-view cards----------------------->
        <div class="container">
            <div class="row">
              <!---------------------------1st col-start------------------------------>
            <div class="col-md-4">
            <div class="card">
                <div class="card_body">
                    <img src="../../../assets/images/locations/Darwin-NT.jpg" alt="" class="img">
                   <div class="center">
                    <h6 style="font-size: 12px;"><b> NORTHCAPE 1 OCEAN FRONT 4 Bedroom 4</b></h6>
                    <img src="../../../assets/images/homepage/bed.png" alt="Beds" />
                    <small> 6 Beds </small>
                    <img src="../../../assets/images/homepage/bath.png" alt="Baths" />
                    <small> 2 Bath </small>
                    <i class="fa fa-users"></i><small> 10 Guests</small>
                   </div>
                    
                    </div>
            </div>
          </div> 
          <!-------------------2nd col- start------------------------>
           <div class="col-md-4">
            <div class="card">
              <div class="card_body">
                <img src="../../../assets/images/locations/Darwin-NT.jpg" alt="" class="img">
              <div class="center">
                <h6 style="font-size: 12px;"><b> NORTHCAPE 1 OCEAN FRONT 4 Bedroom 4</b></h6>
                <img src="../../../assets/images/homepage/bed.png" alt="Beds" />
                <small> 6 Beds </small>
                <img src="../../../assets/images/homepage/bath.png" alt="Baths" />
                <small> 2 Bath </small>
                <i class="fa fa-users"></i><small> 10 Guests</small>
              </div>
                
                </div>
            </div>
          </div>
          <!-----------------------------------------3rd col-start---------------------->
           <div class="col-md-4">
            <div class="card">
                <div class="card_body">
                    <img src="../../../assets/images/locations/Darwin-NT.jpg" alt="" class="img">
                   <div class="center">
                    <h6 style="font-size: 12px;"><b> NORTHCAPE 1 OCEAN FRONT 4 Bedroom 4</b></h6>
                    <img src="../../../assets/images/homepage/bed.png" alt="Beds" />
                    <small> 6 Beds </small>
                    <img src="../../../assets/images/homepage/bath.png" alt="Baths" />
                    <small> 2 Bath </small>
                    <i class="fa fa-users"></i><small> 10 Guests</small>
                   </div>
                    
                    </div>
            </div>
          </div>
          </div>
          </div>