<main id="page-not-found" class="page-middle">
    <app-innerpagesbanner [innerBannerImage]="bannerImage" [pageTitle]="pageTitle"></app-innerpagesbanner>
    <section class="sec_padd">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sec-title text-center">
                        <h1 class="text-uppercase h2"><strong>{{title}}</strong></h1>
                        <div class="title_shape_bottom"><img src="../../../assets/images/favicon.ico" width="20" height="20" alt="Icon" /></div>
                    </div>
                    <div class="btn-wrapper text-center">
                        <button routerLink="" mat-raised-button color="primary" class="l-height-normal">Go Back To Home</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>