<div class="popup-wrapper mytrips_popup">
      <form>
            <h5 mat-dialog-title class="d-flex justify-content-between align-items-center">
                  <span class="titleText">My Trips</span>
                  <button mat-icon-button [mat-dialog-close]="true">
                        <span class="material-icons"> close </span>
                  </button>
            </h5>

            <mat-dialog-content>
                  <table class="mytrip_table" cellpadding="10">
                        <tr>
                              <td valign="top" class="img-wrap">
                                    <a href="javascript:void(0)">
                                          <img src="../../../assets/images/locations/Hamilton-Island.jpg" alt=""
                                                width="200" class="img-fluid">
                                    </a>
                              </td>
                              <td valign="top" class="content-wrap">
                                    <h5 class="title">
                                          <a href="javascript:void(0)" class="text-capitalize">Luxury & Ocean Views at
                                                Bella Vista East 3</a>
                                    </h5>
                                    <p>Wed, 28 Oct - Wed, 18 Nov 2020</p>
                                    <p>1 Adult 2 Children</p>
                                    <h6>A$52,500.00</h6>
                                    <div class="btn-wrapper">
                                          <button mat-raised-button color="primary"
                                                class="l-height-normal text-uppercase book_btn">Book Now</button>
                                    </div>
                                    <div class="btn-wrapper">
                                          <button mat-raised-button color="primary" class="l-height-normal"
                                                [mat-dialog-close]="true" (click)="openDialogDetailQuote()">Show
                                                Detailed Quote</button>
                                    </div>
                              </td>
                              <td valign="top" class="btn-wrapper-remove">
                                    <div class="btn-wrapper">
                                          <button mat-mini-fab class="l-height-normal text-uppercase remove_trip p-0">
                                                <mat-icon>delete</mat-icon>
                                          </button>
                                    </div>
                              </td>
                        </tr>
                        <tr>
                              <td valign="top" class="img-wrap">
                                    <a href="javascript:void(0)">
                                          <img src="../../../assets/images/locations/Hamilton-Island.jpg" alt=""
                                                width="200" class="img-fluid">
                                    </a>
                              </td>
                              <td valign="top" class="content-wrap">
                                    <h5 class="title">
                                          <a href="javascript:void(0)" class="text-capitalize">Luxury & Ocean Views at
                                                Bella Vista East 3</a>
                                    </h5>
                                    <p>Wed, 28 Oct - Wed, 18 Nov 2020</p>
                                    <p>1 Adult 2 Children</p>
                                    <h6>A$52,500.00</h6>
                                    <div class="btn-wrapper">
                                          <button mat-raised-button color="primary"
                                                class="l-height-normal text-uppercase book_btn">Book Now</button>
                                    </div>
                                    <div class="btn-wrapper">
                                          <button mat-raised-button color="primary" class="l-height-normal"
                                                [mat-dialog-close]="true" (click)="openDialogDetailQuote()">Show
                                                Detailed Quote</button>
                                    </div>
                              </td>
                              <td valign="top" class="btn-wrapper-remove">
                                    <div class="btn-wrapper">
                                          <button mat-mini-fab class="l-height-normal text-uppercase remove_trip p-0">
                                                <mat-icon>delete</mat-icon>
                                          </button>
                                    </div>
                              </td>
                        </tr>
                        <tr>
                              <td valign="top" class="img-wrap">
                                    <a href="javascript:void(0)">
                                          <img src="../../../assets/images/locations/Hamilton-Island.jpg" alt=""
                                                width="200" class="img-fluid">
                                    </a>
                              </td>
                              <td valign="top" class="content-wrap">
                                    <h5 class="title">
                                          <a href="javascript:void(0)" class="text-capitalize">Luxury & Ocean Views at
                                                Bella Vista East 3</a>
                                    </h5>
                                    <p>Wed, 28 Oct - Wed, 18 Nov 2020</p>
                                    <p>1 Adult 2 Children</p>
                                    <h6>A$52,500.00</h6>
                                    <div class="btn-wrapper">
                                          <button mat-raised-button color="primary"
                                                class="l-height-normal text-uppercase book_btn">Book Now</button>
                                    </div>
                                    <div class="btn-wrapper">
                                          <button mat-raised-button color="primary" class="l-height-normal"
                                                [mat-dialog-close]="true" (click)="openDialogDetailQuote()">Show
                                                Detailed Quote</button>
                                    </div>
                              </td>
                              <td valign="top" class="btn-wrapper-remove">
                                    <div class="btn-wrapper">
                                          <button mat-mini-fab class="l-height-normal text-uppercase remove_trip p-0">
                                                <mat-icon>delete</mat-icon>
                                          </button>
                                    </div>
                              </td>
                        </tr>
                  </table>
            </mat-dialog-content>
            <mat-dialog-actions class="pt-2">
                  <div class="btn-wrapper w-100 py-2 d-flex justify-content-between">
                        <button [routerLink]="['/list-view']" [mat-dialog-close]="true" mat-stroked-button
                              color="primary" class="l-height-normal action_btn">
                              <mat-icon>search</mat-icon> Search Holiday Rentals
                        </button>
                        <button mat-raised-button color="primary" class="l-height-normal action_btn"
                              [mat-dialog-close]="true" (click)="openDialog()">Share / Save</button>
                  </div>
            </mat-dialog-actions>
      </form>
</div>