:host /deep/ .sidebar-wrapper .holiday-rentals-form {
      border-radius: 0px;
      padding: 0px;
      background: transparent;
}
:host /deep/ .sidebar-wrapper .holiday-rentals-form .col {
      flex: auto;
      margin-bottom: 20px;
}
.widget {
      background-color: #f7f7f7;
      padding: 20px;
}
.widget:not(:last-child) {
    margin-bottom: 40px;
}
.widget-title {
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 20px;
}
.widget-title h4 {
    color: #00acd5;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.widget.recent-blogs .media:not(:last-child) {
    margin-bottom: 15px;
}
.widget.recent-blogs .media .img_box {
    width: 110px;
    height: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.widget.recent-blogs .media h5 {
    font-size: 16px;
}
.widget.recent-blogs .media .post_content {
    margin-bottom: 15px;
}
:host /deep/ .widget.recent-blogs .media .post_content * {
    color: #666;
    font-size: 13px;
    margin-bottom: 0;
}
.widget.recent-blogs .media:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.widget.rental-form {
      background-color: #3dacd7;
      padding-bottom: 100px;
      background-image: url('../../../assets/images/sidebar/sidebar_form_img.jpg');
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
}
.widget.blogs-posts .media {
    padding: 10px 0;
}
.widget.blogs-posts .media .media-body {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
}
.widget.blogs-posts .media .media-body p {
    margin: 0;
    font-weight: 500;
}
.widget.blogs-posts .media:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.widget.blogs-posts .media i.fa.fa-play {
    margin-right: 10px;
}
.widget.blogs-posts .media .post-count {
    color: #a3a3a3;
    display: block;
    font-size: 15px;
}
.widget.rental-form h4 {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    font-weight: 400;
    position: relative;
    padding-bottom: 20px;
}
.widget.rental-form h4::before {
    content: "";
    width: 150px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.widget.rental-form .widget-title {
    border-bottom: 0;
    margin-bottom: 30px;
}
.widget.tripListing-actions {
    background-color: #02acd7;
}
.widget.tripListing-actions .widget-title h4 {
    color: #fff;
}
.widget.tripListing-actions .media-body p {
    color: #fff;
    display: none;
}
.widget.tripListing-actions button {
    border: 2px solid #fff;
    background-color: transparent;
    margin-right: 15px;
}
:host /deep/ .widget.tripListing-actions button span.mat-button-wrapper {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    line-height: normal;
}
.widget.tripListing-actions button mat-icon {
    color: #fff;
}
.widget.tripListing-actions button mat-icon.shareIcon {
    transform: rotate(180deg);
}
.widget.tripListing-actions button.hoverActive {
    background-color: #fff;
}
.widget.tripListing-actions button.hoverActive mat-icon {
    color: #02acd7;
}
.widget.tripListing-actions .media-body p.hoverActive {
    display: block;
}
.subWidget-title h4 {
    color: #00acd5;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;  
}
ul.features_listing {
    list-style: none;
    padding: 0;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
}
ul.features_listing .media {
    align-items: center;
    margin-bottom: 15px;
}
ul.features_listing .media .amenity_name {
    margin: 0;
    padding: 0 10px;
}
ul.features_listing .media a {
    color: #434343;
    font-weight: 400;
    text-decoration: none;
    padding: 0;
    min-width: auto;
    text-align: left;
}
ul.features_listing li {
    width: 50%;
}