<div class="sidebar-wrapper">
      
      <div class="widget rental-form">
            <div class="widget-title" *ngIf="routerString != '/trip-detail'">
                  <h4>The Luxury Accommodation</h4>
            </div>
            <div class="widget-title" *ngIf="routerString == '/trip-detail'">
                  <h4>Search Availability</h4>
            </div>
            <div class="widget-content">
                  <app-formholidayrentals></app-formholidayrentals>
            </div>
      </div>

      <div class="widget tripListing-actions" *ngIf="routerString == '/trip-detail'">
            <div class="widget-title">
                  <h4 class="text-uppercase">Listing Actions</h4>
            </div>
            <div class="widget-content">
                  <div class="media align-items-center">
                        <div class="media-actions">
                              <button mat-icon-button aria-label="Add Favourite" [ngClass]="colorFavourite" (mouseover)="changeStyleFavourite($event)" (mouseout)="changeStyleFavourite($event)">
                                    <mat-icon>favorite</mat-icon>
                              </button>
                              <button mat-icon-button aria-label="Request More Information" [ngClass]="colorRequest" (mouseover)="changeStyleRequest($event)" (mouseout)="changeStyleRequest($event)">
                                    <mat-icon>email</mat-icon>
                              </button>
                              <button mat-icon-button aria-label="Share this Listing" [ngClass]="colorShare" (mouseover)="changeStyleShare($event)" (mouseout)="changeStyleShare($event)">
                                    <mat-icon class="shareIcon">system_update_alt</mat-icon>
                              </button>
                        </div>
                        <div class="media-body">
                           <p class="mb-0" [ngClass]="colorFavourite" (mouseover)="changeStyleFavourite($event)" (mouseout)="changeStyleFavourite($event)">Add Favourite</p>
                           <p class="mb-0" [ngClass]="colorRequest" (mouseover)="changeStyleRequest($event)" (mouseout)="changeStyleRequest($event)">Request More Information</p>
                           <p class="mb-0" [ngClass]="colorShare" (mouseover)="changeStyleShare($event)" (mouseout)="changeStyleShare($event)">Share this Listing</p>
                        </div>
                  </div>
            </div>
      </div>

      <div class="widget tripListing-features" *ngIf="routerString == '/trip-detail'">
            <div class="widget-title">
                  <h4 class="text-uppercase">Features</h4>
            </div>
            <div class="widget-content">
                  <div class="subWidget" id="amenities">
                        <div class="subWidget-title">
                              <h4 class="text-capitalize">Featured amenities</h4>
                        </div>
                        <ul class="features_listing mb-4">
                              <li>
                                    <div class="media">
                                          <i class="fa fa-play" style="font-size: 12px;"></i>
                                          <p class="amenity_name"><a href="javascript:void(0)" mat-button class="l-height-normal">Grill / BBQ</a></p>
                                    </div>
                              </li>
                              <li>
                                    <div class="media">
                                          <i class="fa fa-play" style="font-size: 12px;"></i>
                                          <p class="amenity_name"><a href="javascript:void(0)" mat-button class="l-height-normal">Cot</a></p>
                                    </div>
                              </li>
                              <li>
                                    <div class="media">
                                          <i class="fa fa-play" style="font-size: 12px;"></i>
                                          <p class="amenity_name"><a href="javascript:void(0)" mat-button class="l-height-normal">Golf</a></p>
                                    </div>
                              </li>
                              <li>
                                    <div class="media">
                                          <i class="fa fa-play" style="font-size: 12px;"></i>
                                          <p class="amenity_name"><a href="javascript:void(0)" mat-button class="l-height-normal">Dining Room</a></p>
                                    </div>
                              </li>
                              <li>
                                    <div class="media">
                                          <i class="fa fa-play" style="font-size: 12px;"></i>
                                          <p class="amenity_name"><a href="javascript:void(0)" mat-button class="l-height-normal">Air Conditioning</a></p>
                                    </div>
                              </li>
                              <li>
                                    <div class="media">
                                          <i class="fa fa-play" style="font-size: 12px;"></i>
                                          <p class="amenity_name"><a href="javascript:void(0)" mat-button class="l-height-normal">Furniture Outdoor</a></p>
                                    </div>
                              </li>
                        </ul>
                        <div class="subWidget-title">
                              <h4 class="text-capitalize">Location</h4>
                        </div>
                        <ul class="features_listing mb-4">
                              <li>
                                    <div class="media">
                                          <i class="fa fa-play" style="font-size: 12px;"></i>
                                          <p class="amenity_name"><a href="javascript:void(0)" mat-button class="l-height-normal">Hamilton Island, QLD</a></p>
                                    </div>
                              </li>
                        </ul>
                        <div class="subWidget-title">
                              <h4 class="text-capitalize">Type</h4>
                        </div>
                        <ul class="features_listing">
                              <li>
                                    <div class="media">
                                          <i class="fa fa-play" style="font-size: 12px;"></i>
                                          <p class="amenity_name"><a href="javascript:void(0)" mat-button class="l-height-normal">House</a></p>
                                    </div>
                              </li>
                        </ul>
                  </div>
            </div>
      </div>

      <div class="widget recent-blogs" *ngIf="routerString != '/trip-detail'">
            <div class="widget-title">
                  <h4 class="text-uppercase">Recent Blog Posts</h4>
            </div>
            <div class="widget-content">
                  <div class="media" *ngFor="let blog of myData?.data.posts">
                        <a [routerLink]="['/blog/details', blog.id]"><div class="img_box" style="background-image: url('{{blog.image}}');"></div></a>
                        <div class="media-body">
                           <h5 class="mt-0"> <a [routerLink]="['/blog/details', blog.id]"> {{blog.title | slice : 0 : 50}}</a></h5> 
                              <div class="post_content" [innerHTML]="blog.content | slice : 0 : 200"></div>
                        </div>
                  </div>
            </div>
      </div>

      <div class="widget blogs-posts" *ngIf="routerString != '/trip-detail'">
            <div class="widget-title">
                  <h4 class="text-uppercase">Blog Posts</h4>
            </div>
            <div class="widget-content">
                  <div class="media" *ngFor="let post of myData1?.data.posts">
                        <div class="media-body">
                              <i class="fa fa-play" style="font-size: 12px;"></i>
                              <p><a [routerLink]="['/blog-categories', post.id]">{{post.name}}</a></p>
                        </div>
                        <div class="media-content">
                              <span class="post-count">{{post.post_count}}</span>
                        </div>
                  </div>
            </div>
      </div>
</div>