<main id="testimonials" class="page-middle">
    <app-innerpagesbanner [innerBannerImage]="myData?.data.banner_image"></app-innerpagesbanner>
    <section class="testimonials_content sec_padd">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sec-title text-center mb-5">
                        <h1 class="text-uppercase h2"><strong>{{pageTitle}}</strong></h1>
                        <div class="title_shape_bottom"><img src="../../../assets/images/favicon.ico" width="20" height="20" alt="Icon" /></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center font-weight-medium mb-5">{{myData?.data.section1_title}}</h3>
                    <div class="testimonials-listing-wrap">
                        <div class="item mb-4" *ngFor="let d of myData?.data.testimonials | paginate: { itemsPerPage: 6, currentPage: p }">
                            <div class="content-wrapper text-center">
                                <img src="../../../../assets/images/testimonials/quote-icon-blue.png" alt="Quotation" />
                                <p>{{d.content}}</p>
                                <h6>{{d.title}}</h6>
                                <small>{{d.location}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapper text-right">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-enquirneholiday></app-enquirneholiday>
</main>