<div class="holiday-rentals-form">
    <form>
            <div class="form-row middle align-items-center">
                <mat-form-field appearance="fill" color="primary" class="w-100">
                    <mat-label>Arrival</mat-label>
                    <input matInput [matDatepicker]="pickerArrival">
                    <mat-datepicker-toggle matSuffix [for]="pickerArrival"></mat-datepicker-toggle>
                    <mat-datepicker #pickerArrival></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="form-row middle align-items-center">
                <mat-form-field appearance="fill" color="primary" class="w-100">
                    <mat-label>Departure</mat-label>
                    <input matInput [matDatepicker]="pickerDeparture">
                    <mat-datepicker-toggle matSuffix [for]="pickerDeparture"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDeparture></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="form-row middle align-items-center">
                <mat-form-field appearance="fill" color="primary" class="w-100">
                    <mat-label>Adults</mat-label>
                    <mat-select class="Adult-select">
                      <mat-option *ngFor="let Adult of Adults" [value]="Adult.value">
                        {{Adult.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-row middle align-items-center">
                <mat-form-field appearance="fill" color="primary" class="w-100">
                    <mat-label>Children</mat-label>
                    <mat-select class="Children-select">
                      <mat-option *ngFor="let Children of Childrens" [value]="Children.value">
                        {{Children.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-row middle align-items-center">
                <div class="submit_btn" style="width: 100%;">
                    <button mat-raised-button class="w-100"><span class="material-icons"> search </span> Search</button>
                </div>
            </div>
            <!-- <div class="col">
                
            </div>
            <div class="col">
                
            </div>
            <div class="col">
               
            </div>
            <div class="col">
               
            </div>
            <div class="col">
                
            </div>
        </div>
        <div class="form-row results-wrap align-items-center" *ngIf="router != '/'">
            <div class="col search-results text-white">
                <p class="mb-0 mr-2">12 Results</p><span class="material-icons"> cancel</span>
            </div>
        </div> -->
    </form>
</div>