<footer id="primary-footer">
    <div class="footer_top">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="footer-widget">
                        <h5 class="widget-title"> Contact Info </h5>
                        <div class="widget-detail">
                            <ul class="contact-info">
                                <li>
                                    <span>Address- </span>
                                    Surya nagar road no-3 Bijulia talab road ward no -8 Ramgarh canttRamgarh Jharkhand 829122
                                </li>
                                <li>
                                    <span>Phone- </span>
                                    <a mat-button class="l-height-normal" href="+91-9304970109">+91-9304970109</a>
                                </li>
                                <li>
                                    <span>Email- </span>
                                    <a mat-button class="l-height-normal" href="vishudhajivam@gmail.com" target="_blank">vishudhajivam@gmail.com</a>
                                </li>
                                <li>
                                    <span></span>
                                    <!-- <div class="badges-wrapper">
                                        <img src="{{myData?.data.badge1}}" alt="badge1" />
                                        <img src="{{myData?.data.badge2}}" alt="badge2" />
                                        <img src="{{myData?.data.badge3}}" alt="badge3" />
                                    </div> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="footer-widget pl-xl-5">
                        <h5 class="widget-title"> Book Direct </h5>
                        <div class="widget-detail">
                            <p>Book your next Doctors with Visudh Ajivam and get the best rate by going direct.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="footer-widget pl-xl-5">
                        <h5 class="widget-title"> Quick Links </h5>
                        <div class="widget-detail">
                            <ul class="quick-links">
                                <li><a mat-button class="text-left px-0" routerLink="/terms-condition">Terms & Conditions</a></li>
                                <li><a mat-button class="text-left px-0" routerLink="/policies">Privacy Policy</a></li>
                                <li><a mat-button class="text-left px-0" routerLink="/blog">Blog</a></li>
                                <li><a mat-button class="text-left px-0" routerLink="/sitemap">Sitemap</a></li>
                                <app-social-list></app-social-list>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12">
                    <p class="copyright-text">{{myData?.data.copyright}}</p>
                </div>
            </div>
        </div>
    </div>
</footer>