
        <div class="flex-container">
            <div>
                <p style="border-right: 2px solid grey;cursor: pointer;" routerLink="/split-view" routerLinkActive="active">
                    <span class="material-icons"> vertical_split </span> Split View &nbsp;&nbsp;
                 </p>
            </div>
            <div>
                <p style="border-right: 2px solid grey;cursor: pointer;" routerLink="/list-view" routerLinkActive="active">
                    &nbsp;&nbsp;<i class="fas fa-list"></i> List View &nbsp;&nbsp;
                  </p> 
                 
            </div>
            <div>
               <p style="cursor: pointer;" routerLink="/map-view" routerLinkActive="active">
                &nbsp;&nbsp;  <i class="fas fa-map-marker-alt"></i> Map View &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                </p>
            </div>  
           
          </div>